html{
    box-sizing: border-box;

    *,
    * ::after,
    * ::before {
        box-sizing: inherit;
    }

    font-size: clamp(14px,1vw + .5rem,22px);

    body {
        font-family: 'Roboto Slab','serif';
    
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}